.profile-card {
  transition: all 0.4s;
}

.profile-card:hover img {
  border-radius: 10px;
  transform: translateY(-70px);
}

.caption {
  text-align: center;
  transform: translateY(-140px);
  padding-bottom: 12px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.profile-card:hover .caption {
  opacity: 1;
  pointer-events: all;
}

.caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all 0.4s;
}
.caption .social-links i:hover {
  color: #0c52a1;
}
